* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 40px;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150vh;
    background-color: rgb(255, 250, 241);

}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 90%;
    justify-content: space-around;
    align-content: first baseline;
}


.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10 {
    display: flex;
    height: 280px;
    width: 280px;
    margin: 20px;
}